# OS files
.DS_Store
Thumbs.db

# Backend
backend/calenai.db
backend/*.exe
backend/*.test
backend/bin/
backend/.env
backend/ToDo.md
# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/.env

# Editor
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?